<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <div th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ShppingMall</a>
        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/admin/item/new">상품 등록</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/items">상품 관리</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">장바구니</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orders">구매 이력</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/members/login">로그인</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/members/logout">로그아웃</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="searchBtn" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
</html>